<!DOCTYPE html>
<html lang="en">

    <head>
        <title> &copy; Farm DB </title>
        <meta charset="UTF-8"/>
    </head>

    <body>

        <div style="text-align: center;">

            <a href="/">Homepage</a>
            <br>
            <br>
            <br>
            <br>

            <h1> Browse Animal By Name/Type </h1>

            <style>
            table {
                border: 1.5px solid black;
                text-align: right;
                margin-left: auto;
                margin-right: auto;
            }
            </style>

            <table border='5'>

                {% if data['kinds']|length %}

                    {% for kind in data['kinds'] %}

                        <tr>
                            <td> {{kind}} </td>
                            <td>
                            {% for name in data['names'][loop.index0] %}
                                <a href='{{kind}}/{{name}}'> {{name}}</a> <br>
                            {% endfor %}
                        </tr>

                    {% endfor %}

                {% else %}
                    No Animals Stored in Database, Please Use 'Create' to Append Entry!
                {% endif %}

            </table>

            <br>
            <br>
            <br>
            <a href="/">RELOAD DB</a>
            <br>
            <br>
            <br>
            <a href="mailto:lalikaribushi02@yahoo.com"> Trouble with App? Click here 4 help! </a>

        </div>

    </body>

</html>

<!--!EOF!-->