<!DOCTYPE html>
<html lang="en">

    <head>
        <title> &copy; Farm DB </title>
        <meta charset="UTF-8"/>
        {% if animal %}
          {% set heading = "View / Update" %}
          {% set animal_id = animal[0] %}
          {% set kind = animal[1] %}
          {% set name = animal[2] %}
        {% else %}
          {% set heading = "Add an Animal:" %}
        {% endif %}
    </head>

    <body>

      <div style="text-align: center;">

        <a href="/">Homepage</a>
        <br>
        <br>
        <br>
        <br>

        <h1>{{heading}}</h1>

        <form method="post">
          <label for="animal_id">Animal ID/Tag:</label><br>
          <input type="text" id="animal_id" name="animal_id" value="{{animal_id}}"><br>
          <br>
          <label for="kind">Type of Animal:</label><br>
          <input type="text" id="kind" name="kind" value="{{kind}}"><br>
          <br>
          <label for="name">Name of Animal:</label><br>
          <input type="text" id="name" name="name" value="{{name}}"><br>
          <br>
          <label for="sex">Sex:</label><br>
          <input type="text" id="sex" name="sex" value="{{sex}}"><br>
          <br>

          <p>Please Select Your Employee Status:</p>

          <form action="/action_page.php">
          <label for="employee">I am a(n):</label>
          <select id="employee_id" name="employee_id">
            <option value="administrative">Administrative Staff</option>
            <option value="vet">Veterinarian</option>
            <option value="farmer">Farmer</option>
            <option value="handler">Handler</option>
            <option value="temp">Temporary Employee</option>
          </select>

          <br>
          <input type="submit">

          </form>

        </form>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul style="list-style: none;" class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <br>
        <br>
        <br>
        <a href="/">RELOAD DB</a>
        <br>
        <br>
        <br>
        <a href="mailto:lalikaribushi02@yahoo.com"> Trouble with App? Click here 4 help! </a>

      </div>

    </body>

</html>

<!--!EOF!-->