<!DOCTYPE html>
<html lang="en">

    <head>
        <title> &copy; Farm DB </title>
        <meta charset="UTF-8"/>
    </head>

    <body>
      <div style="text-align: center;">
        <h1> Welcome To Animal Database! </h1>

        <ul style="list-style: none;">
            <li> <a href="create"> Create </a> </li>
            <br>
            <li> <a href="list"> View </a> </li>
            <br>
            <li> <a href="browse"> Browse </a> </li>
            <br>
            <li> <a href="search"> Search </a> </li>
            <br>
            <li> <a href="import"> Import Data </a> </li>
            <br>
            <li> <a href="reset"> Reset Database </a> </li>
        </ul>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <br>
        <br>
        <br>
        <br>
        <a href="/">RELOAD DB</a>
        <br>
        <br>
        <br>
        <a href="mailto:lalikaribushi02@yahoo.com"> Trouble with App? Click here 4 help! </a>
        
      </div>
    </body>

</html>

<!--!EOF!-->