<!DOCTYPE html>
<html lang="en">

    <head>
        <title> &copy; Farm DB </title>
        <meta charset="UTF-8"/>
    </head>

    <body>

        <div style="text-align: center;">

            <a href="/">Homepage</a>
            <br>
            <br>
            <br>
            <br>

            <h1> View Animals </h1>

            <style>
            table {
                border: 1.5px solid black;
                text-align: right;
                margin-left: auto;
                margin-right: auto;
            }
            </style>

            <table border='5'>

                {% if animals|length %}

                    {% for animal in animals %}

                        <tr>
                            <td> {{animal[0]}}</td>
                            <td> {{animal[1]}}</td>
                            <td> {{animal[2]}}</td>
                            <td> <a href='../update/{{animal[0]}}'> View/Update </a></td>
                            <td> <a href='../delete/{{animal[0]}}'> Delete </a></td>
                        </tr>

                    {% endfor %}

                {% else %}
                    No Animals Stored in Database, Please Use 'Create' To Append Entry!
                {% endif %}

            </table>

            <br>
            <br>
            <br>
            <a href="/">RELOAD DB</a>
            <br>
            <br>
            <br>
            <a href="mailto:lalikaribushi02@yahoo.com"> Trouble with App? Click here 4 help! </a>

        </div>

    </body>

</html>

<!--!EOF!-->