<!DOCTYPE html>
<html lang="en">

    <head>
        <title> &copy; Farm DB </title>
        <meta charset="UTF-8"/>
    </head>

    <body>

        <div style="text-align: center;"> 

            <a href="/">Homepage</a>
            <br>
            <br>
            <br>
            <br>
            
            <h1> Search Animal </h1>

            <form method="POST">
                <label for="animal_id">Animal ID:</label><br>
                <input type="text" id="animal_id" name="animal_id" value="{{animal_id}}"><br>
                <br>
                <label for="kind">Type of Animal:</label><br>
                <input type="text" id="kind" name="kind" value="{{kind}}"><br>
                <br>
                <label for="name">Name of Animal:</label><br>
                <input type="text" id="name" name="name" value="{{name}}"><br>
                <br>
                <label for="sex">Sex:</label><br>
                <input type="text" id="sex" name="sex" value="{{sex}}"><br><br>
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>

            <br>
            <br>
            <br>
            <a href="/">RELOAD DB</a>
            <br>
            <br>
            <br>
            <a href="mailto:lalikaribushi02@yahoo.com"> Trouble with App? Click here 4 help! </a>

        </div>

    </body>

</html>

<!--!EOF!-->